[Desktop Entry]
Type=Application
Exec=/usr/bin/window-guard_watchdog.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Window Guard Watchdog
Comment=Restarts window-guard if not running
